/*fonts */

@font-face {
 font-family: "PTSans";
 src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
 url("../fonts/PTSans-Bold.woff") format("woff");
 font-weight: 700;
 font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*main colors*/

:root {
  --title-text: #000000;
  --text: #333333;
  --rev-text: #ffffff;
  --main-color: #ffffff;
  --search-hotels:#766357;
  --svg-blocks: #81B3D2;
  --feature-n3-n5: #EEEEEE;
  --rating: #666666;
  --bg-rating: #F2F2F2;
  --button-reserv: #766357;
  --hover-button-reserv: #604E43;
  --focus-button-reserv: #503E33;
  --hover-button-more: #669EC0;
  --focus-button-more: #5496BD;
  --border: #E5E5E5;
  --range:rgba(100%, 100%, 100%, 0.3);
  --toggle: #ABABAB;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--title-text);
  text-transform: uppercase;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
}

.main-header {
  background-color: var(--main-color);
  background: url("../img/Shape.svg") 50% 508px no-repeat, url("../img/background-photo.png") 50% 55px no-repeat;
  height: 582px;
}
.search-home {
  background-image: url("../img/catalog-background.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1200px 217px;
}

.сatalog-header{
  height: 56px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-footer,
.features-list,
.site-navigation,
.infrastructure ul,
.type-of-house ul,
.button-reservation,
.button-more {
  list-style: none;
  padding: 0;
  margin: 0;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 0px;
}

/* Menu Navigation*/

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--main-color);
  height: 56px;
  display:grid;
  grid-template-columns: 200px 200px  1fr 200px 200px;
  position: relative;
  top: -100px;
  z-index: 1;
}

.logo {
  position: relative;
  z-index: 2;
  top: -14px;
  left: 490px;
  width: 138px;
  height: 70px;
}

.site-navigation li:first-child {
  grid-column: 1/2;
  text-align: left;
  padding-top:15px;
  padding-left: 73px;
}

.site-navigation li:nth-child(2){
  grid-column: 2/3;
  text-align: left;
  padding-top:15px;
  padding-left: 100px;
}
.site-navigation li:nth-child(3){
  grid-column: 4/5;
  text-align: right;
  padding-top:15px;
  padding-right: 99px;
}
.site-navigation li:nth-child(4){
  grid-column: 5/6;
  text-align: right;
  padding-top:15px;
  padding-right: 72px;
}

.site-navigation a:any-link {
  color: var(--title-text);
}

.site-navigation a:hover {
  color: var(--svg-blocks);
}

.site-navigation a:focus {
  color: var(--title-text);
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--search-hotels);
}

.welcome-logo {
  position:relative;
  width:457px;
  height: 351px;
  left:372px;
  top: -20px;
}


/* description*/

.description {
  display: flex;
  flex-direction: column;
  height: 215px;
  text-align: center;
  margin-top: 8px;

  margin-bottom: -22px;
}

.description h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 365px;
  width: 470px;
}

.description p {
  line-height: 26px;
  color: var(--text);
  margin-top: 25px;
  margin-bottom: 20px;
}


/* Feature -1*/

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 255px 330px 255px 255px;
}
.other-features h2{
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item h2,
.other-features h2 {
  font-size: 21px;
  font-weight: 700;
}

.features-item:nth-child(1) {
  color: var(--rev-text);
  background-color: var(--svg-blocks);
  text-align: justify;
  grid-column: 1/-1;
  grid-row: 1/2;
  display:flex;
}

.features-item:nth-child(2) {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.why-features {
  grid-column: 1/-1;
  grid-row: 2/3;
  display:flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--main-color);
  color: var(--title-text);
  margin: 0;
  padding: 0;
  list-style: none;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 400px;
  margin-top: 47px;
  margin-bottom:54px;
}

.live h2,
.live span,
.live p {
  margin:-3px;
}

.bridge h2,
.bridge span,
.bridge p {
  margin:-2px;
}

.why-features {
  width:1200px;
  height: 330px;
  background: url(../img/features/house.svg) 162px 60px no-repeat, url(../img/features/food.svg) 562px 60px no-repeat, url(../img/features/present.svg) 968px 55px no-repeat;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.house {
  grid-column: 1/2;
  margin-top: 80px;
  margin-bottom: 10px;
  text-align: center;
}

.food {
  grid-column: 2/3;
  margin-top: 80px;
  margin-bottom: 10px;
  text-align: center;
}

.present {
  grid-column: 3/4;
  margin-top: 80px;
  margin-bottom: 10px;
  text-align: center;
}

.house p,
.food p,
.present p {
  padding-top: 10px;
}

.features-item:nth-child(3)  {
  color: var(--rev-text);
  background-color: var(--svg-blocks);
  text-align: right;
  grid-column: 1/-1;
  grid-row: 3/4;
}
.features-item .container {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item:nth-child(3) .container{
 flex-direction: row-reverse;
}

.foto-sedona {
  width: 800px;
  height:256px;
  margin: auto;
}

.other-features {
  background-color: var(--feature-n3-n5);
  margin: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 255px;
}

.other-features p {
 position: relative;
 top: -15px;
}

.other-features span {
  padding-top: 25px;
  padding-bottom: 23px;
}

.features-item:nth-child(4){
  grid-column: 1/2;
  grid-row: 4/5;
  text-align: center;
}
.features-item:nth-child(5) {
  grid-column: 2/3;
  grid-row: 4/5;
  text-align: center;
}

.features-item:last-child {
  grid-column: 3/4;
  grid-row: 4/5;
  text-align: center;
}


/*reservation*/

.reservation {
  line-height: 24px;
}

.reservation h2 {
  font-size: 30px;
  font-weight: 700;
}

.reservation-form span{
  background-color: var(--search-hotels);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--rev-text)
}

.reservation-form p {
  line-height: 26px;
  font-weight: 700;
  color: var(--title-text)
}

.button-find {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--svg-blocks);
}

/*catalog*/


.catalog-page {
  display: grid;
  grid-template-rows:min-content min-content 1fr;
}

.catalog-page .search-home {
  color: var(--rev-text);
  grid-row: 1/2;
}


.search-home .filter {
  height: 217px;
  display: flex;
  justify-content: space-around;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-top: 26px;
  border: none;

}

.filter li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 25px;

}
.filter-option label {
  position: relative;
  display: block;
  height: 25px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -38px;
  width: 100%;
  height: 100%;
  background: url(../img/checkbox-off.svg) no-repeat;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -38px;
  width: 100%;
  height: 100%;
  background: url(../img/checkbox-on.svg)  no-repeat;
}

.infrastructure {
  position:relative;
  left: -36px;
}
.infrastructure li,
.type-of-house li {
  position:relative;
  left: 40px;
}
.infrastructure li:last-child,
.type-of-house li:last-child {
 bottom: 10px;
}

.type-of-house {
  position:relative;
  right: 135px;
}

.catalog-page .result-of-filter {
  margin:0;
  padding: 0;
  list-style: none;
  grid-row: 2/3;
}

.search-home legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.how-many-find h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results-of-filter {
  display: flex;
  gap: 10px;
  align-self: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sorting {
  display: flex;
  margin-right: 32px;
  justify-content: space-around;
  align-items: center;
  width:393px;
  margin-left:10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.sorting h3 {
  font-size: 12px;
}
/* Фильтр стоимостей*/

.range-price {
  display:flex;
  flex-direction: column;
  position: relative;
  left: 40px;
}

.price-controls {
  margin-top: 11px;
  width: 313px;
  height: 32px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  display: flex;
  background-image: url(../img/Rectangle.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.price-controls input {
  height: 32px;
  border:0;
  background-color:transparent;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  color: var(--rev-text);
}

.range-controls {
  position: relative;
  height: 21px;
  margin-top: 11px;
  padding-top:9px;
}

.range-controls .scale {
 background: var(--range);
 height: 2px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.range-controls .bar {
  width: 80%;
  background: var(--main-color);
  height: 2px;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--main-color);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle) 0.5;
  position: absolute;
  top: 0px;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 248px;
}

/*Filter of hotels*/


.sorting a:any-link {
  color: var(--title-text);
  border-bottom: 1px dashed var(--svg-blocks);
  opacity: 0.3;
}

.sorting a:hover {
  color: var(--svg-blocks);
  border-bottom: 1px dashed var(--svg-blocks);
}

.sorting a:focus {
  color: var(--title-text);
}

.sorting a:active {
  color: var(--svg-blocks);
}

/* Results of hotels*/

.catalog-page .results-of-hotels {
  grid-row: 3/4;

}
.results-of-hotels li{
  padding: 0;
  margin: 0;
  list-style: none;
}

.result-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  margin: 0;
  padding: 0;
  list-style: none;
  height: 150px;
}
.foto-hotel {
  margin: auto;
  order:-1;
  width:135px;
  height: 90px;
}
.type-of-hotels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  width:792px;
  height: 150px;
}

.type-of-hotels h3,
.features-of-hotels p {
  margin: 0;
  padding: 0;
  list-style: none;
}
.type-of-hotels h3 {
  padding-top:24px;
}

.hotel-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  margin-top: 30px;
  margin-right: 73px;
  margin-bottom: 30px;
}

.features-of-hotels {
  display: flex;
  margin-right: 37px;
}
.features-of-hotels p {
  margin-right: 37px;
}

.buttons-for-hotels {
  display: flex;
  margin-bottom: 30px;
}

.result-items {
  background-color: var(--main-color);
}

.result-items h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.result-items a:any-link {
  color: var(--title-text);
}

.result-items a:hover {
  color: var(--svg-blocks);
}

.result-items a:focus {
  color: var(--title-text);
  opacity: 0.3;
}
.type-of-hotels {
  color: var(--text);
}

.rating {
  color: var(--rating);
  background-color: var(--bg-rating);
}

.button-show {
  width: 137px;
  height: 36px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  background: none;
  color: inherit;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  margin-top: 15px;
  margin-left: 84px;
}

.button-show:hover {
  background-color: var(--main-color);
  color: var(--title-text);
}
/* Buttons*/

.result-items .button-more,
.result-items .button-reservation {
  margin-left: 6px;
  font-weight: 700;
  color: var(--rev-text);
}
.button-more {
  background-color: var(--svg-blocks);
  width: 110px;
  height: 27px;
  border: none;
}

.button-more:hover {
  background-color: var(--hover-button-more);
}

.button-more:focus {
  background-color: var(--focus-button-more);
  opacity: 0.3;
}

.button-reservation {
  background-color: var(--search-hotels);
  width: 110px;
  height: 27px;
  border: none;
}

.button-reservation:hover {
  background-color: var(--hover-button-reserv);
}

.button-reservation:focus {
  background-color: var(--focus-button-reserv);
  opacity: 0.3;
}
/* Footer*/

.main-footer {
  font-size: 21px;
  line-height: 26px;
  color: var(--title-text);
}
.footer-contacts {
  font-weight: 700;
}

.button-network {
  background-color: var(--svg-blocks);
}

.footer-copyright {
  font-size: 14px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 400px 400px 400px;

}

